body {
    font-style: Roboto;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white; 
}

.description {
    font-size: 18px;
    color: #F9FAF8;
}

.great-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 8px 32px;
    font-weight: bold;
}


.title {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    /* border: 2px solid red; */
    padding: 0;
    margin-left: 250px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
}

.top {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    height: 350px;
    gap: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

.sidebar-title {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h2 {
    font-size: 48px;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 48px;
    text-align: center;
    margin-bottom: 100px;
}

.random-info-header {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}

.reason {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 150px;
    margin: 0;
    padding: 0;
    color: #1f2937;
    font-size: 18px;
}

.middle img {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    margin: 0;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    max-width: 800px;
    margin: 0;
    padding: 0;
}

.name {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 300px;
    font-size: 18px;

}

* {
    outline: 2px solid red;
}